<div id="<%= dom_id(tweet) %>" class="card card-body mb-3">
    <dvi><%= tweet.title %></dvi>
    <dvi><%= tweet.body %></dvi>
    <div class="text-muted"><small><%= tweet.created_at %></small></div>
</div>